body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full height of the viewport */
  background-image: url("your-background-image.jpg"); /* Add your background image URL */
  background-size: cover;
  background-position: center;
}

.container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8); /* Adjust the transparency as needed */
  padding: 20px;
  border-radius: 10px;
}

header {
  background-color: #333;
  padding: 20px;
  text-align: center;
}

header .logo img {
  max-width: 100px;
}

nav {
  margin-top: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

section {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
}

h1,
h2 {
  color: #4285f4; /* Google Blue */
}

p {
  margin-top: 20px;
}

a {
  color: #4285f4; /* Google Blue */
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
