/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00a8f3;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #title {
    font-size: 24px;
    margin: 0;
  }

  nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  nav a:hover {
    background-color: #007bbf;
  }

.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.sidebar {
    width: 30%;
    padding: 20px;
    background-color: #007bff;
    color: white;
}

.sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.content {
    width: 70%;
    padding: 20px;
}

#state-codes {
    padding-bottom: 20px;
}

#state-codes h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

#state-list {
    list-style-type: none;
    padding-left: 20px;
}

#state-list li {
    margin-bottom: 10px;
}

#state-list strong {
    font-weight: bold;
    color: #007bff;
}

footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }