body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #4caf50; /* Darker green */
  padding: 20px;
  color: white;
  text-align: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  font-size: 24px;
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #388e3c; /* Lighter green */
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
  width: 30%;
  padding: 20px;
}

.sidebar h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.sidebar #search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sidebar #article-list {
  list-style-type: none;
  padding: 0;
}

.sidebar #article-list li {
  margin-bottom: 10px;
}

.sidebar #article-list li a {
  display: block;
  padding: 10px;
  background-color: #4caf50; /* Darker green */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar #article-list li a:hover {
  background-color: #388e3c; /* Lighter green */
}

.sidebar .no-results {
  color: #ff0000;
}

.content {
  width: 70%;
  padding: 20px;
}

.content #article-container {
  margin-bottom: 20px;
}

.content .article {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

.content .article:hover {
  background-color: #e9e9e9;
  transform: scale(1.05);
}

.content .article h2 {
  margin-top: 0;
  font-size: 22px;
  color: #333;
}

.content .article p {
  color: #666;
}

footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.back-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.back-button:hover {
  background-color: #388e3c;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.back-button:active {
  background-color: #2e7d32;
  transform: translateY(0);
  box-shadow: none;
}



@media (max-width: 768px) {
  .container {
      flex-direction: column;
      padding: 10px;
  }

  .sidebar,
  .content {
      width: 100%;
      padding: 10px;
  }

  header {
      flex-direction: column;
  }

  header #title {
      margin: 10px 0;
  }

  nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  nav a {
      margin: 5px;
  }
}


