body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: white;
    padding: 20px;
    color: black;
    text-align: center;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header_button{
    color: black;
  }
  
  #title {
    font-size: 24px;
    margin: 0;
  }
  
  header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  header nav a:hover {
    text-decoration: underline;
  }

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#updates {
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
}

#updates h1 {
    color: #007bff;
    margin-bottom: 20px;
    text-align: center;
}

.update {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s;
    position: relative;
}

.update:hover {
    transform: translateY(-10px);
}

.update-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}

.update-header h2 {
    color: #333;
    margin: 0;
    display: flex;
    align-items: center;
}

.update-header .date {
    color: #666;
    font-size: 0.9em;
    margin-left: 10px;
}

.update p {
    color: #666;
    margin: 10px 0;
}

footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    margin-top: auto;
}

.featured-notice {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff5722;
    color: #fff;
    padding: 5px 10px;
    border-radius: 0 10px 0 10px;
    font-weight: bold;
}
