body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #f1f1f1;
}

.navbar {
  top: 0px;
  margin: 10px;
  border-radius: 50px;
  z-index: 2;
  position: fixed;
  display: flex;
  align-items: center;
  max-width: 760px;
  height: 60px;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  background-color: rgba(35, 35, 35, 0.584);
  border: 1px solid rgb(65, 65, 65);
  width: calc(100% - 20px);
  padding: 0 20px;
  box-sizing: border-box;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #f1f1f1;
  text-decoration: none;
  font-size: 1em;
}

.container {
  display: flex;
  gap: 20px;
  margin: 80px 20px;
}

.file-explorer,
.editor {
  flex: 1;
  background-color: rgba(35, 35, 35, 0.584);
  border-radius: 15px;
  padding: 20px;
  border: 1px solid rgb(65, 65, 65);
}

.file-explorer ul {
  list-style: none;
  padding: 0;
}

.file-explorer li {
  cursor: pointer;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.file-explorer li:hover {
  border: 1px solid #f1f1f1;
}

.editor pre {
  position: relative;
  min-height: 200px; 
}

.editor code {
  display: block;
  padding: 10px;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace; 
  white-space: pre-wrap;
  overflow-x: auto; 
}

button {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
}

button:hover {
  background-color: #ff4500;
}

.editor textarea {
  width: 100%;
  height: 80vh;
  background-color: #1e1e1e;
  color: #f1f1f1;
  border: none;
  padding: 10px;
  font-size: 1em;
  resize: vertical; 
}
