/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #fa484b;
    padding: 20px;
    color: white;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title {
    font-size: 24px;
    margin: 0;
}

nav {
    display: flex;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: #d73c3e;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.sidebar {
    width: 30%;
    padding: 20px;
    background-color: #fa484b;
    color: white;
}

.sidebar h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

#dictionary-list {
    list-style-type: none;
    padding: 0;
}

#dictionary-list li {
    margin-bottom: 10px;
}

#dictionary-list li a {
    display: block;
    padding: 10px;
    background-color: hsl(199, 100%, 48%);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#dictionary-list li a:hover {
    background-color: #fa484b;
}

.content {
    width: 70%;
    padding: 20px;
}

.dictionary-term h2 {
    font-size: 22px;
    color: #fa484b;
    margin-top: 0;
}

.dictionary-term p {
    color: #666;
    text-align: justify; 
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }

    #title {
        margin: 10px 0;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-link {
        margin: 5px;
    }

    .container {
        flex-direction: column;
        padding: 10px;
    }

    .sidebar,
    .content {
        width: 100%;
        padding: 10px;
    }
}

footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }