/* Reset and basic styling */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #1a1f2b;
  color: #f1f1f1;
}

/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(27, 35, 53, 0.9); /* Steel blue background */
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8em;
  font-weight: 600;
  color: #4ab3f4; /* Lighter blue color */
  margin-right: 20px; /* Adjust margin between logo and links */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #f1f1f1;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  transition: color 0.3s;
  padding: 10px 15px; /* Adjust padding to ensure all links fit */
}

.nav-links a:hover {
  color: #4ab3f4;
}

/* General container styling */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Section heading styles */
h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5em;
  margin-bottom: 30px;
  position: relative;
  color: #4ab3f4; /* Lighter blue color */
}

h2::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #4ab3f4; /* Lighter blue underline */
  margin: 10px auto;
}

/* Services and Products section */
.services,
.products {
  padding: 50px 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.service-list,
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.service-item,
.product-item {
  background-color: rgba(
    27,
    35,
    53,
    0.8
  ); /* Semi-transparent steel blue background */
  border-radius: 15px;
  padding: 20px;
  border: 1px solid #4ab3f4; /* Lighter blue border */
  text-align: left; /* Ensure text alignment is consistent */
}

.service-item h3,
.product-item h4 {
  font-size: 1.8em; /* Adjusted font size */
  color: #4ab3f4; /* Lighter blue color */
  margin-bottom: 10px; /* Adjusted margin */
}

.product-item img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.product-item p {
  font-size: 0.9em; /* Smaller font size for product description */
  line-height: 1.6;
  color: #ddd; /* Light grey text */
  margin-bottom: 10px; /* Adjusted margin */
}

/* Footer styling */
.footer {
  text-align: center;
  padding: 20px;
  background-color: #14212e; /* Darker blue footer background */
  border-top: 1px solid #4ab3f4; /* Lighter blue border */
}

.footer p {
  margin: 0;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

.footer-links a {
  color: #4ab3f4; /* Lighter blue links */
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}
