* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%; /* Ensure the body takes up the full height */
}

body {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #4caf50;
  padding: 20px;
  color: white;
  text-align: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  font-size: 24px;
  margin: 0;
}

nav {
  display: flex;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #388e3c;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1; /* Allow container to grow and push footer down */
  max-width: 1200px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  min-height: 100vh; /* Ensure the container takes up at least the full viewport height */
  overflow: auto; /* Allow scrolling if content overflows */
}

.section {
  padding: 20px;
  margin-bottom: 10px;
}

.routes,
.pharmacology,
.drugs {
  margin-bottom: 20px;
}

.routes h2,
.pharmacology h2,
.drugs h2 {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
}

.routes ul,
.pharmacology ul,
.drugs ul {
  list-style-type: none;
}

.routes ul li,
.pharmacology ul li,
.drugs ul li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #e8e8e8;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.routes ul li:hover,
.pharmacology ul li:hover,
.drugs ul li:hover {
  background-color: #d8d8d8;
}

.drug-info {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.route {
  background-color: #add8e6;
}

.important-info {
  background-color: #fffacd;
}

.warning {
  background-color: #ffcccb;
}

.dosage {
  background-color: #90ee90;
}

footer {
  background-color: #4caf50;
  text-align: center;
  padding: 10px;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  bottom: 0;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }

  #title {
    margin: 10px 0;
  }

  nav {
    margin-top: 10px;
  }

  .nav-link {
    margin: 5px;
  }

  .container {
    flex-direction: column;
    padding: 10px;
  }

  .sidebar,
  .content {
    width: 100%;
    padding: 10px;
  }
}

.footer-image-container {
  text-align: center;
  margin-top: 10px;
  max-width: 100%;
}

.footer-image {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.section.credits {
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.section.credits h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.section.credits ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: #555;
}

.section.credits ul li {
  margin-bottom: 10px;
}

.section.credits ul li b {
  color: #000;
}

@media screen and (max-width: 768px) {
  .container {
    width: 95%;
  }

  .section.credits h2 {
    font-size: 22px;
  }

  .section.credits ul {
    font-size: 16px;
  }
}
