body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

header {
  background-color: white;
  padding: 20px;
  color: black;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  font-size: 24px;
  margin: 0;
}

header nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

header nav a:hover {
  text-decoration: underline;
}

.header_button {
  color: black;
}

#title {
  font-size: 24px;
  margin: 0;
}

#ad-info {
  padding: 20px;
}

#ad-info h2 {
  color: #007bff;
}

#ad-info p {
  color: #333;
  line-height: 1.6;
}

#ad-info a {
  color: #007bff;
  text-decoration: none;
}

#ad-info a:hover {
  text-decoration: underline;
}

.ad-info-extra {
  margin-top: 20px;
}

.ad-info-extra h3 {
  color: #007bff;
}

.ad-info-extra p {
  color: #333;
  line-height: 1.6;
}

footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (min-width: 768px) {
  #ad-info {
    padding: 40px;
  }
}

@media (min-width: 1024px) {
  #ad-info {
    padding: 60px;
  }
}
