body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    top: 0;
    margin: 10px;
    border-radius: 50px;
    z-index: 2;
    position: fixed;
    display: flex;
    align-items: center;
    max-width: 760px;
    height: 60px;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    background-color: rgba(35, 35, 35, 0.584);
    border: 1px solid rgb(65, 65, 65);
    width: calc(100% - 20px);
    padding: 0 20px;
    box-sizing: border-box;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 1em;
}

.hero {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("https://media.discordapp.net/attachments/1043952624703123557/1254425311932584051/1483382.png?ex=6679721c&is=6678209c&hm=90d5f48d0d44be7a8deca4c2a7e3fef088af4c02b44ec01d7ea2fb09593316a0&=&format=webp&quality=lossless&width=550&height=344") no-repeat center center/cover;
}

.hero-content {
    backdrop-filter: blur(10px);
    background-color: rgba(35, 35, 35, 0.584);
    border-radius: 15px;
    padding: 20px;
    max-width: 500px;
    border: 1px solid rgb(65, 65, 65);
}

.hero h1 {
    font-size: 2.5em;
    margin: 0 0 10px;
}

.hero p {
    font-size: 1.2em;
    margin: 0 0 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
}

.about,
.services,
.products,
.credits {
    padding: 50px 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.credit-item {
    background-color: rgba(35, 35, 35, 0.584);
    border-radius: 15px;
    padding: 20px;
    border: 1px solid rgb(65, 65, 65);
    text-align: left;
    margin-top: 20px;
}

.credit-item p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #1a1a1a;
    border-top: 1px solid rgb(65, 65, 65);
    width: 100%;
    position: fixed;
    bottom: 0;
}
.footer-links {
    margin-bottom: 10px;
}

.footer p {
    margin: 0;
}
